.calendar-container {
    margin-bottom: 50px;
}

.calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.cal-nav {
    margin-left: 10px;
    margin-right: 10px;
}

.month-title {
    text-align: center;
}

.calendar-example {
    border: 1px solid darkslategray;
    margin: 0 auto;
    border-collapse: collapse;
}

.calendar-example .week .day {
    border: 1px solid darkslategray;
    vertical-align: top;
}

.calendar-example .week .day .day-contents {
    height: 150px;
    width: 150px;
    overflow: auto;
}

.calendar-example .week .day .day-contents .events {
    text-align: left;
}

.calendar-example .week .day.outside {
    background-color: rgba(192, 192, 192, 0.3);
}